[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.symlink/bundle/delimitMate"]
	path = vim.symlink/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim.symlink/bundle/vimerl"]
	path = vim.symlink/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim.symlink/vim-pathogen"]
	path = vim.symlink/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
